/* .navbar-custom {
  background-color: #74382d;
} */

/* .navbar-light .nav-item .nav-link {
  color: brown;
} */

.navbar-light .nav-item .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: black;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {
  /* background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #636fa4); */
  min-height: 100vh;
}